/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}

:root {
    /* Primary */
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);

    /* Neutral */
    --grayish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
}

body {
    margin: 0 8rem;
    /* width: 100%; */
    overflow-x: clip;
}

/* ! navbar */
nav.navbar {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-menu {
    display: flex;
    gap: 1rem;
}

.navbar-menu>a {
    text-decoration: none;
    padding: 0.6rem 1.8rem;
    border-radius: 8px;
}

.navbar-link:hover {
    color: var(--soft-red);
}

.login-link {
    background-color: var(--soft-red);
    color: white;
    border: 1px solid var(--soft-red);
}

.login-link:hover {
    background-color: white;
    color: var(--soft-red);
}

/* ! hero section */
#hero {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

#hero .text-box {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

#hero .text-box h1 {
    font-size: 60px;
    font-weight: 500;
    color: var(--very-dark-blue);
}

#hero .text-box p {
    font-size: 24px;
    line-height: 35px;
    color: var(--grayish-blue);
}

#hero .button-box {
    margin-top: 2rem;
}

#hero .button-box .hero-button {
    margin-right: 1rem;
    font-size: 18px;
    padding: 1rem 1.4rem;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.4);
    border: 3px solid transparent;
    cursor: pointer;
}

#hero .button-box .hero-button:nth-child(1) {
    background-color: var(--soft-blue);
    color: white;
}

#hero .button-box .hero-button:nth-child(1):hover {
    background-color: white;
    color: var(--soft-blue);
    border: 3px solid var(--soft-blue);
}

#hero .button-box .hero-button:nth-child(2) {
    background-color: #f7f7f7;
    color: var(--soft-blue);
}

#hero .button-box .hero-button:nth-child(2):hover {
    background-color: white;
    color: var(--very-dark-blue);
    border: 3px solid var(--grayish-blue);
}

#hero .img-box {
    width: 45%;
    position: relative;
    height: fit-content;
}

#hero .img-box img.hero-img {
    width: 100%;
    height: auto;
}

#hero .img-box::before {
    content: " ";
    height: 20rem;
    width: 800px;
    border-radius: 175px 0 0 175px;
    background-color: var(--soft-blue);
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 150px;
    margin-left: 200px;
    z-index: -1;
}

/* common for feature, download */
.text-box {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 5rem auto;
}

.title {
    font-size: 36px;
    font-weight: 500;
    color: var(--very-dark-blue);
}

.description {
    font-size: 20px;
    font-weight: 400;
    color: var(--grayish-blue);
    text-align: center;
}

/* ! feature */
#feature .feature-menu {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--grayish-blue);
}

#feature .feature-item {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: auto;
    padding-right: auto;
    gap: 0;
    text-align: center;
    font-weight: 400;
    color: var(--grayish-blue);
    font-size: 18px;
    cursor: pointer;
}

#feature .feature-item:hover {
    color: var(--soft-red);
}

#feature .active {
    border-bottom: 4px solid var(--soft-red);
}

/* ! download section */
#download .download-container {
    width: 100%;
    margin: 10rem auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

#download .download-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 8px 10px 1px rgba(83, 104, 223, 0.2);
}

#download .download-card:nth-child(1) {
    translate: 0 -50px;
}

#download .download-card:nth-child(3) {
    translate: 0 50px;
}

#download .download-card img.logo {
    margin: 1rem;
    margin-top: 2rem;
}

#download .download-card h3 {
    font-size: 24px;
    font-weight: 500;
    color: var(--very-dark-blue);
}

#download .download-card p {
    color: var(--grayish-blue);
}

#download .download-card img.dots {
    width: 100%;
    margin: 1rem 0;
}

#download button {
    margin: 1rem auto;
    width: 80%;
    font-size: 16px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
    border: 3px solid transparent;
    cursor: pointer;
    background-color: var(--soft-blue);
    color: white;
}

#download button:hover {
    background-color: white;
    color: var(--soft-blue);
    border: 3px solid var(--soft-blue);
}

/* ! contact */
footer {
    margin-left: -8rem;
    width: 100vw;
}

#contact {
    background-color: var(--soft-blue);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2rem;
}

#contact p {
    color: white;
    max-width: 500px;
    text-align: center;
}

#contact p:nth-child(2) {
    font-size: 36px;
    font-weight: 500;
}

#contact input[name="email"],
#contact .contact-btn {
    font-size: 18px;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    height: 50px;
    margin-right: 1rem;
}

#contact .contact-btn {
    padding: 1rem 2rem;
    background-color: var(--soft-red);
    color: white;
    border: 1px solid var(--soft-red);
    cursor: pointer;
}

#contact .contact-btn:hover {
    background-color: white;
    color: var(--soft-red);
}